/*
 * sh/sw - size height/width
 * pt/pr/pb/pl - position top/right/bottom/left
 */

@each $i in (1 2 3 4 6 8 9 12 15) {
  .sh#{$i}r { height: 0rem + $i; max-height: 0rem + $i; }
  .sw#{$i}r { width: 0rem + $i;  max-width: 0rem + $i; }
  .pt#{$i}r { top: 0rem + $i; }
  .pr#{$i}r { right: 0rem + $i; }
  .pb#{$i}r { bottom: 0rem + $i; }
  .pl#{$i}r { left: 0rem + $i; }
}

@each $i in (0 20 25 33 50 66 75 100) {
  .sh#{$i} { height: 0% + $i; }
  .sw#{$i} { width: 0% + $i; }
  .pt#{$i} { top: 0% + $i; }
  .pr#{$i} { right: 0% + $i; }
  .pb#{$i} { bottom: 0% + $i; }
  .pl#{$i} { left: 0% + $i; }
}

@each $i in (0 1 2 3) {
  .bw#{$i} { border-width: 0px + $i; }
}

.sm-center { text-align: center; }
@media (min-width: 40em) {
  .sm-center { text-align: left; }
}
@media (max-width: 40em) {
  .sm-full { width: 100%; }
}

.bg-lighten-1 { background-color: rgba(255,255,255,.125) }
.bg-lighten-2 { background-color: rgba(255,255,255,.25) }
.bg-lighten-3 { background-color: rgba(255,255,255,.5) }
.bg-lighten-4 { background-color: rgba(255,255,255,.75) }

.bg-cover { background-position: 50% 50%; background-repeat: no-repeat; }
.bg-tile  { background-image: url(/images/bg-tile.png); background-repeat: repeat; }
.bg-blue  { background-color: #005BC0; }
.bg-olive { background-color: #248057; }
.olive    { color: darken(#248057, 10%); }
.border-olive { border-color: darken(#248057, 10%); }

.fit { width: 100%; height: 100%; }

.jumbo {
  width: 100%;
  height: 100vh;
  min-height: 20rem;
  margin: 0;
}
